body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: black;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  color: rgb(var(--foreground-rgb));
  background: black;
}

a {
  color: inherit;
  text-decoration: none;
}
h1 {
  margin: 10px;
  color: white;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.slick-prev:before {
  content: url("./app/assets/Images/flecha.png") !important; /* URL de tu icono para la flecha derecha */
  height: 40px; /* Ajusta la altura de tu icono */
  width: 40px; /* Ajusta el ancho de tu icono */
}

.slick-next:before {
  content: url("./app/assets/Images/flechaAfther.png"); /*para la flecha izquierda */
  width: 40px !important; /* Ajusta el ancho de tu icono */
  height: 40px; /* Ajusta la altura de tu icono */
}

p {
  margin: 10px 14px;
  color: white;
}
.textSearch {
  display: flex;
  justify-content: center;
  margin-top: 92px;
  font-size: 20px;
  margin-bottom: 34px;
  color: #fd6d6d;
}
ul {
  display: flex;
  justify-content: center;
  column-count: 4;
  column-gap: 2em;
  flex-direction: row;
  flex-wrap: wrap;
}

.contenedor {
  display: flex;

  flex-direction: column;
}
li {
  list-style-type: none;
  margin-bottom: 20px; /* Espacio entre elementos */
}
input {
    width: 90%; 
    display: flex;
    justify-content: center;
    padding: -8px;
    border-radius: 7px;
    border: none;
    height: 40px;
    top: 5%;
    z-index: 1;
   position: absolute; 
    opacity: 0.5;

}

span {
  margin: 20px;
}

/* Estilos para los elementos del carrusel */

.slick-slider {
  margin: 0 auto; /* Márgenes horizontalmente centrados */
  display: flex; /* Usar display flex para alinear las imágenes */
  justify-content: center; /* Centrar las imágenes horizontalmente */
}


/* Estilos para las imágenes */
.slick-slider div{
  width: 100%; /* Hacer que las imágenes ocupen el ancho completo del contenedor */
  height: 20%; /* Mantener la proporción de aspecto */
  display: flex;
  gap: 20px; 
}
